@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #9b59b6;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.container {
  background-color: #fff;
  width: 400px;
  overflow: hidden;
  border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 3);
  max-width: 100%;
}
.header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  border-bottom: 1px solid #f0f0f0;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  /* Because we will have absolutely positioned elements inside it */
}

.form-control label {
  display: inline-block;
  /* If it is not inline block then we cannot apply the 5pm margin bottom */
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 14x;
  font-family: inherit;
  width: 100%;
  padding: 10px;
}
.form-control.success input {
  border-color: #2ecc71;
}
.form-control.error input {
  border-color: #e74c3c;
}

.form-control i {
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;
}

.form-control.success i.fa-circle-check {
  visibility: visible;
  color: #2ecc71;
}
.form-control.error i.fa-circle-exclamation {
  visibility: visible;
  color: #e74c3c;
}
.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form-control.error small {
  color: #e74c3c;
  visibility: visible;
}
.form button {
  background-color: #8e44ad;
  border: 2px solid #8e44ad;
  color: #fff;
  display: block;
  font-family: inherit;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
